#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main-Film {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #211a1d;

  img {
    width: 4%;
    border-radius: 50%;
  }
}
