@font-face {
  font-family: "Skincake";
  src: url(../assets/Skincake.ttf);
}
@font-face {
  font-family: "PinkyLove";
  src: url(../assets/PinkyLove.ttf);
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 3px black;
  border-radius: 0 0 3rem 3rem;
  background: #ffffff url(../assets/cinema.jpg) center center/cover no-repeat;

  h1 {
    font-size: 4rem;
    font-family: "Skincake";
    color: white;
  }
  label {
    font-size: 1.5rem;
    font-family: "PinkyLove";
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    color: white;
  }

  img {
    width: 10%;
    border-radius: 50%;
  }
}
